/* Layout til login-siden */
.login-page {
  min-height: 100vh;
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 2rem 3rem;
}

/* Appens logo */
.big-logo {
  width: 14rem;
}

/* Velkomsttekst */
.login-page-text {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--bordeaux);
}

/* Nederste sektion med tekst og knapper */
.login-page-bottom {
  width: 100%;
  max-width: 20rem;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Information om vilkår og privatlivspolitik */
.login-page-bottom small {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--black);
}

/* Klikbare tekstlinks */
.text-link {
  text-decoration: underline;
  cursor: pointer;
}

/* Fælles styling til login- og opret-konto-knapper */
.primary-btn,
.secondary-btn {
  width: 100%;
  height: 3rem;
  border-radius: var(--border-radius-large);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Fjerner standardmargin på tekst i knapper */
.primary-btn h4,
.secondary-btn h4,
.guest-link p {
  margin: 0;
}

/* Primær handlingsknap */
.primary-btn {
  border: none;
  background: var(--green);
  color: var(--black);
  margin-bottom: 1rem;
}

/* Sekundær handlingsknap */
.secondary-btn {
  border: 1px solid var(--bordeaux10);
  background: transparent;
  color: var(--black);
  margin-top: 1rem;
}

/* Knap til gæsteadgang */
.guest-link {
  margin-top: 1rem;
  border: none;
  background: none;
  cursor: pointer;
}

/* Tekst til gæsteadgang */
.guest-link p {
  text-decoration: underline;
  color: var(--black);
  margin-top: 1rem;
}
