.bottom-nav {
  position: fixed;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);
  padding: 16px 36px;
  /*baggrundfarve mangler*/
  border-radius: 32px;
  /*box-shadow mangler*/

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-nav-link {
  width: 74px; /* samme bredde til alle */
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  /*font skal tilknyttes*/
  /*farve mangler*/
}

.bottom-nav-icon {
  width: 32px;
  height: 32px;
}
/*
.bottom-nav-link.active span {
  /*fontvægt mangler*/
/*farve mangler*
}*/
