.bottom-nav {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  max-width: none;
  padding: 1.5rem 2.25rem;
  background-color: var(--bordeaux10);
  border-radius: 2rem;
  box-shadow: var(--shadow-top);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-nav-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--fs-small);
  color: var(--bordeaux);
}

.bottom-nav-icon {
  width: 2rem;
  height: 2rem;
}
