/* EMPTY FORBINDELSe - Vises når brugeren ikke har nogen forbindelser*/ 

/* Container der centrerer indholdet på siden */
.empty-forbindelse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  text-align: center;
  gap: 1rem;
}

/* Overskrift */
.empty-forbindelse h1 {
  margin-bottom: 1.5rem;
}

/* Beskrivende tekst */
.empty-forbindelse p {
  margin-bottom: 0rem;
}

/* Lottie-animation */
.empty-forbindelse-animation {
  margin-top: -5.5rem;
  width: 18rem;
  height: 18rem;
}
