.empty-favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  text-align: center;
}

.empty-favorites h1 {
  margin-bottom: 1.5rem;
}

.empty-favorites p {
  margin-bottom: 0rem;
}

.empty-favorites-animation {
  margin-top: -5.5rem;
  width: 18rem;
  height: 18rem;
}
