/* Container */
.facility-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* Fælles styling */
.facility-pill,
.facility-add-button,
.facility-add-inline {
  min-height: 2rem;
  border-radius: 0.5rem;
}

/* Eksisterende faciliteter */
.facility-pill {
  display: flex;
  align-items: center;
  gap: 1rem;

  border: 1px solid var(--bordeaux10);
  padding: 0 1rem;

  background: transparent;
}

/* Ikoner */
.facility-pill img,
.facility-add-button img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

/* Tilføj-knap */
.facility-add-button {
  border: none;
  padding: 0 1rem;

  background: var(--green);
  color: var(--black);

  display: flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;
}

/* Inline input */
.facility-add-inline {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 0 1rem;

  background: var(--green);
  font-size: 0.875rem;
}

/* Input */
.facility-add-input {
  width: 8rem;
  border: none;
  outline: none;
  background: transparent;

  font: inherit;
  color: inherit;
}

.facility-add-input::placeholder {
  color: inherit;
}

/* Gem-knap */
.facility-add-inline button {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}
