/* LikeButton.css */

/* LikeButton.css */

.like-button {
  width: var(--like-button-size, 3rem);
  height: var(--like-button-size, 3rem);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: var(--background);

  border: none;
  border-radius: 9999px;

  padding: 0;

  cursor: pointer;

  box-shadow: var(--shadow-bottom);
}

.like-button:active {
  transform: translateY(0.5px);
}

/* ikon */

.like-button-icon {
  width: var(--like-icon-size, 1rem);
  height: var(--like-icon-size, 1rem);

  display: block;
}

/* detailcard variant */

.like-button.profile-detail-like-button {
  --like-button-size: 3rem;
  --like-icon-size: 1rem;

  position: absolute;

  top: 1rem;
  right: 1rem;

  background: var(--white);

  z-index: 3;
}
