/* Full-width CTA-knap til match handling */
.match-button {
  width: 100%;
  height: 3.5rem;

  margin-top: 2.5rem;

  border-radius: 1rem;
  border: 2px solid var(--bordeaux10);

  background: transparent;

  color: var(--black);

  cursor: pointer;
}

/* Fjerner default margin på tekst i knappen */
.match-button h4 {
  margin: 0;
}
